.main
    padding: 0 0.5rem;
    color: #49496A
    padding-bottom: 1rem;
    .header
        margin: 1rem  auto;
        font-size: .8rem;
        font-weight: 600;
        text-align: center;
    .content
        font-size: .7rem;
        line-height: 1.5;
        b 
            display: block;
            font-weight: 600;
        .small_head
            display: block;
            &.extract_server_tip
                margin: .5rem 0;

