#resetPassword
  background-color:  #F8F8F8;
  height: 100%;
  .main
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    position: relative;
    .top
      width: 100%;
      height: 5rem;
      box-sizing: border-box;
      padding: 0 .75rem;
      background-color: #fff;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .container
        width: 80%;
        height: 3.25rem;
        display: flex;
        justify-content: space-between;
        font-size: .7rem;
        color: #BEC4D3;
        box-sizing: border-box;
        .step
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: center;
          flex: 1;
          .step_top
            width: 1.7rem;
            height: 1.7rem;
            border: .1rem solid #BEC4D3;
            text-align: center;
            line-height: 1.7rem;
            border-radius: 100%;
            position: relative;
            &:after
              content: '';
              display: inline-block;
              position: absolute;
              height: .1rem;
              background-color: #BEC4D3;
              width: 1.45rem;
              top: 0.8rem;
              right: -1.45rem;
            &:before
              content: '';
              display: inline-block;
              position: absolute;
              height: .1rem;
              background-color: #BEC4D3;
              width: 1.45rem;
              top: 0.8rem;
              left: -1.45rem;
        .step_one
          .step_top
            &:before
              display: none;
          &.active_step1
            color: #3836E9;
            .step_top
              border: .1rem solid #3836E9;
              &:after
                background-color:  #3836E9;
              &:before
                display:inline-block;
                content:'';
                border-width:6px 6px 6px 6px;
                height: 0;
                width: 0;
                background-color: transparent;
                border-style:solid;
                border-color: #3836E9 transparent transparent  transparent;
                left: 0.55rem;
                top: 1.9rem;
          &.active_step2
            color: #3836E9;
            .step_top
              &:before
                content: '';
                display: inline-block;
                position: absolute;
                height: .1rem;
                background-color: #3836E9;
                width: 1.45rem;
                top: 0.8rem;
                left: 3.1rem;
                border: none;
        .step_two
          &.active_step2
            color: #3836E9;
            .step_top
              border: .1rem solid #3836E9;
              &:after
                background-color:  #3836E9;
              &:before
                display:inline-block;
                content:'';
                border-width:6px 6px 6px 6px;
                height: 0;
                width: 0;
                background-color: transparent;
                border-style:solid;
                border-color: #3836E9 transparent transparent  transparent;
                left: 0.55rem;
                top: 1.9rem;
          &.active_step3
            color: #3836E9;
            .step_top
              &:before
                display: none;
        .step_three
          .step_top
            &:after
              display: none;
          &.active_step3
            color: #3836E9;
            .step_top
              border: .1rem solid #3836E9;
              &:before
                background-color:  #3836E9;
              &:after
                display:inline-block;
                content:'';
                border-width:6px 6px 6px 6px;
                height: 0;
                width: 0;
                background-color: transparent;
                border-style:solid;
                border-color: #3836E9 transparent transparent  transparent;
                left: 0.55rem;
                top: 1.9rem;
    .common
      width: 100%;
      box-sizing: border-box;
      padding: 0 .75rem;
      background-color: #fff;
      position: relative;
      .login_input_box
        width: 100%;
        box-sizing: border-box;
        background-color: #fff;
        position: relative;
        .delete_active
          position: absolute;
          width: 20px;
          height 20px;
          right: 1.5rem;
          top: .825rem;
          background: url('../../assets/images/login/account_delete.png') no-repeat;
        .show_password
          position: absolute;
          width: 20px;
          height 20px;
          right: 1.5rem;
          top: .825rem;
          background: url('../../assets/images/login/show_password.png') no-repeat;
          background-size: contain;
        input
          font-size: .7rem;
          color: #49496A;
        &.account
          input
            border-bottom: 1px solid #F8F8F8;
        &.password
          input
            border-bottom: 1px solid #F8F8F8;
        .login_input
          width: 100%;
          border: 0;
          height: 2.6rem;
    .second
      padding-top: 0.5rem;
      .text_info
        font-size: .7rem;
        color: #49496A;
      .check_info_num
        .show_check_num
          position: absolute;
          width: 4.6rem;
          height 1.5rem;
          line-height: 1.5rem;
          text-align: center;
          color: #fff;
          font-size: .6rem;
          right: 0.5rem;
          top: .625rem;
          background-color: #ACB3C7;
          border-radius: 1.5rem;
    .login_btn
      width: 16.75rem;
      height: 2.5rem;
      background-color: rgba(61, 59, 238, 1);
      opacity: 0.3;
      text-align: center;
      line-height: 2.5rem;
      border-radius: 2.5rem;
      margin-top: 3%;
      &.active_btn
        opacity: 1;
      span
        border: none;
        color: #fff;
        font-size: .75rem;
    .control
      margin-top: 3%;
      width: 16.75rem;
      text-align: center;
      font-size: .7rem;
      color: #ACB3C7;
      span
        color: #3D3BEE;

    .err_message
      width: 7.95rem;
      height: 1.9rem;
      line-height: 1.9rem;
      text-align: center;
      background-color: #49496A;
      color: #fff;
      border-radius: 38px;
      font-size: .7rem;
      margin-top: .45rem;
    .footer
      position: absolute;
      width: 16.75rem;
      text-align: center;
      font-size: .7rem;
      color: #3D3BEE;
      bottom: 1.5rem
