#extractMoney
  background-color:  #F8F8F8;
  height: 100%;
  .main
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    position: relative;
    color: #49496A;
    font-size: .7rem;
    .blank
      width: 100%;
      height: 2.9rem;
      box-sizing: border-box;
      padding: 0 0.75rem;
      margin: .5rem 0;
      background-color: #fff;
      display: flex;
      align-items: center;
      .right
        margin-left: 1rem;
        display: flex;
        align-items: center;
        .blank_img
          width: 1.5rem;
          display: inline-block;
          height: 1.5rem;
          img
            width: 100%;
            height: 100%;
        .card_id
          color: #ACB3C7;
    .money
      width: 100%;
      height: 4.8rem;
      box-sizing: border-box;
      padding: 0.5rem 0.75rem;
      background-color: #fff;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .top
        font-size: .6rem;
      .bottom
        height: 1.9rem;
        line-height: 1.9rem;
        span
          font-size: 1rem;
        input
          font-size: 1.3rem;
          height: 1.9rem;
          line-height: 1.9rem;
    .mark_big
      width: 100%;
      height: 2.8rem;
      box-sizing: border-box;
      padding: 0 0.75rem;
      background-color: #fff;
      display: flex;
      align-items: center;
      margin: .1rem 0;
      .tip
        flex: 1;
        span
          font-size: .6rem;
          color:#ACB3C7;
      .toggle_btn
        flex: 1;
        text-align: right ;
    .big_money_card
      width: 100%;
      height: 2.8rem;
      box-sizing: border-box;
      padding: 0 0.75rem;
      background-color: #fff;
      display: flex;
      align-items: center;
      margin:  0 0 .1rem 0;
      input
        height: .8rem;
        box-sizing: border-box;
        width: 100%;
        margin-left: 1rem;
        line-height:1rem;
        font-size: .8rem;
        padding: 1rem 0;
    .extract_money_info
      width: 100%;
      height: 3.6rem;
      box-sizing: border-box;
      padding: 0 0.75rem;
      background-color: #fff;
      display: flex;
      flex-direction: column;
      justify-content: center;
      .common
        display: flex;
        .left
          flex: 1;
          margin-top: .25rem;
        .right
          flex: 1;
          margin-top: .5rem;
          text-align: right;
      .bottom
        color: #ACB3C7;
    .extract_btn
      width: 345px;
      box-sizing: border-box;
      background-color: #3836E9;
      height: 2.5rem;
      line-height: 2.5rem;
      border-radius: 2.5rem;
      text-align: center;
      color: #fff;
      margin-top: 1rem;
      font-size: .8rem;
    .read_info
      color: #ACB3C7;
      font-size: .65rem;
      margin-top: 1rem;
      span
        color: #1F1F00;
    .extract_info
      color: #ACB3C7;
      font-size: .6rem;
      position: absolute;
      top: 28.4rem;
